# Feb_16_database_mysql_Assignment

In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

--> database is a place or medium for organising and storing data in a well structured manner.

         Structured query Language(SQL)                                                Not only Structured query Language(NOSQL)
    
 a.RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	                                a.Non-relational or distributed database system.
 b.These databases have fixed or static or predefined schema	                    b.They have dynamic schema
 c.These databases are not suited for hierarchical data storage.	                c.These databases are best suited for hierarchical 
                                                                                        data storage.
 d.These databases are best suited for complex queries	                            d.These databases are not so good for complex queries
 e.Vertically Scalable	                                                            e.Horizontally scalable
 f.Follows ACID property	                                                        f.Follows CAP(consistency, availability, partition tolerance)
 g.Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	                        g.Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

--> Data Defination Language(DDL):
         It is used to define the database schema and structure
        
1.CREATE: 
    The CREATE command is used to create a new table or database.
    
    # Example
    CREATE TABLE Employee(name VARCHAR(50),ID INT,LOCATION VARCHAR(50));
    
2.DROP:
    The DROP command is used to delete a table or database. 
    
    #Example
    DROP Employee;
    
3.ALTER:
    The ALTER command is used to modify the structure of an existing table.
    
    #Example
    ALTER TABLE employee
    ADD COLUMN salary DECIMAL(10,2);
    
4.TRUNCATE:
    The TRUNCATE command is used to remove all rows from a table.
    
    #Example
    TRUNCATE TABLE Employee;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

-->Data Manipulation Language(DML):
       It is used to manipulate data stored in the database.
        
a. INSERT :
    INSERT: The INSERT command is used to insert new data into a table.
    
    #Example 
    INSERT INTO employees (name, ID, LOCATION,salary)
    VALUES ('John Doe', 101, Beng,10000);
    
b. UPDATE :
     The UPDATE command is used to modify existing data in a table. 
        
    #Example
    UPDATE employees
    SET salary = 60000.00
    WHERE id = 101;

c.DELETE:
    The DELETE command is used to delete existing data from a table.
    
    #Example
    DELETE FROM employees
    WHERE id = 101;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

---> Data Query Language(DQL):
        It is used to query data from the database. 

SELECT: 
    The SELECT command is used to query data from a table.
    
    #Example
    SELECT * FROM Employee;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

-->
1) Primary Key:
    a. A primary key is a unique identifier for a record in a table. 
    b.It is a column or a combination of columns that uniquely identifies each row in the table. 
    c.A primary key cannot contain null values, and there can be only one primary key per table. 
    d.For example, in the "employees" table, the "id" column is the primary key.

2) Foreign Key: 
    a.A foreign key is a column or a combination of columns in one table that refers to the primary key of another table. 
    b.It is used to establish a relationship between two tables. 
    c.For example, in a "orders" table, the "customer_id" column could be a foreign key that refers to the "id" column of the "customers" table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

--> 
    # python code
    
import mysql.connector
data_base = mysql.connector.connect(
    host = "XYZ",
    user = "XYZ",
    password = "XYZ"
)
print(data_base)
mycursor = data_base.cursor()
mycursor.execute("SHOW DATABASES")
for i in mycursor:
    print(i)
    
    
a.cursor():
     when we execute SQL statements against a database using a database driver, the driver provides us with a cursor object that we 
    can use to interact with the database. The cursor object acts as a pointer to a specific row in a result set and allows us to execute SQL queries, fetch results, and modify data in the database.
    

b.execute():
    The execute() method is used to execute SQL queries

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
-->

 The order of execution of SQL clauses in a SQL query :
a.FROM: Specifies the tables from which the data will be retrieved.
b.JOIN: Specifies how the tables are related to each other.
c.WHERE: Filters the rows based on a condition.
d.GROUP BY: Groups the rows based on a column or a set of columns.
e.HAVING: Filters the groups based on a condition.
f.SELECT: Selects the columns to be returned in the result set.
g.ORDER BY: Sorts the result set based on a column or a set of columns.
h.LIMIT: Limits the number of rows returned in the result set.